#characterInput {
  display: none;
}

#charNameInput input {
  display: block;
  border: none;
  border-bottom: 3px green solid;
}

#store {
  background: aliceblue;
}

#ongoing-text-box {
  background: lightgrey;
  height: 300px;
  overflow: scroll;
  margin-top: 2rem;
  padding: 10px;
}

#characterInput .col-md-12 {
   text-align: center;
 }

 #gameMainScreen ul{
   list-style: none;
   margin: 10px 0;
   padding-left: 0;
 }
