body {
  height: 100%;
  background-image: url(../img/topography.png);
  font-family: 'Londrina Solid', cursive;
}
span {
  font-weight: 300;
  letter-spacing: 1px;
}
/* section to hide things */

#characterInput {
  display: none;
}

#store {
  display: none;
}

#gameMainScreen {
  display: none;
}
#wagon-6,
#wagon-5,
#wagon-4,
#wagon-3,
#wagon-2 {
  display: none;
  margin-top: 36px;
  position: absolute;
  z-index: 1;
}

#wagon-1 {
  position: absolute;
  margin-top: 36px;
  z-index: 1;
}

#wheel-6,
#wheel-5,
#wheel-4,
#wheel-3,
#wheel-2,
#wheel-1 {
  display: none;
  position: absolute;
  margin-top: 85px;
  z-index: 100;
  height: 35px;
}

#wheel-6 {
  margin-left: 25px;
}

#jesus {
  display: none;
  z-index: 50;
  height: 90px;
  margin-top: 20px;
  margin-left: 20px;
  position: absolute;
}

#star {
  display: none;
  z-index: 101;
  position: absolute;
  height: 20px;
  margin-bottom: 105px;
  margin-left: 15px;
}

#wagon-images .col-md-2 {
  padding: 0px 5px;
}

/* page formatting */

.prettyColumn {
  background-color: #f2f2f2;
  border: 2px solid black;
  padding: 10px;
  min-height: 244px;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 4px double black;
  padding: 30px;
  min-height: 665px;
}

.store-titles {
  height: 53px;
}

.store-titles h2{
  float: left;
}

.store-titles h3 {
  float: right;
}

#wagon-images {
  background-image: url(../img/mountains.png);
  background-size: cover;
  background-position: bottom;
  padding: 10px;
  border: 2px solid black;
  margin: 0;
  height: 151px;
}

.icon-animate {
  width: 64px;
  height: 64px;
  position: absolute;
  bottom: 50%;
  left: 5%;
  background-image: url(../img/beans.png);
  background-size: cover;
  animation: example 40s linear 0s infinite reverse;
  -moz-animation: 40s linear 0s reverse none infinite example;
  -webkit-animation: example 40s linear 0s infinite reverse;
  -0-animation: example 40s linear 0s infinite reverse;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {left:5%; bottom:5%; transform:rotate(0deg); background-image: url(../img/beans.png);}
  12%  {left:90%; bottom:35%; transform:rotate(360deg); background-image: url(../img/beans.png);}
  24%  {left:5%; bottom:45%; transform:rotate(0deg); background-image: url(../img/boots.png);}
  36%  {left:90%; bottom:55%; transform:rotate(360deg); background-image: url(../img/boots.png);}
  48%  {left:5%; bottom:65%; transform:rotate(0deg); background-image: url(../img/gun.png);}
  60% {left:90%; bottom:5%; transform:rotate(360deg); background-image: url(../img/gun.png);}
  72%  {left:5%; bottom:75%; transform:rotate(0deg); background-image: url(../img/whisky.png);}
  80% {left:90%; bottom:25%; transform:rotate(360deg); background-image: url(../img/whisky.png);}
  90%  {left:5%; bottom:95%; transform:rotate(0deg); background-image: url(../img/ox.png);}
  100% {left:90%; bottom:35%; transform:rotate(360deg); background-image: url(../img/ox.png);}
}

/* Standard syntax */
@keyframes example {
  0%   {left:5%; bottom:5%; transform:rotate(0deg); background-image: url(../img/beans.png);}
  12%  {left:90%; bottom:35%; transform:rotate(360deg); background-image: url(../img/beans.png);}
  24%  {left:5%; bottom:45%; transform:rotate(0deg); background-image: url(../img/boots.png);}
  36%  {left:90%; bottom:55%; transform:rotate(360deg); background-image: url(../img/boots.png);}
  48%  {left:5%; bottom:65%; transform:rotate(0deg); background-image: url(../img/gun.png);}
  60% {left:90%; bottom:5%; transform:rotate(360deg); background-image: url(../img/gun.png);}
  72%  {left:5%; bottom:75%; transform:rotate(0deg); background-image: url(../img/whisky.png);}
  80% {left:90%; bottom:25%; transform:rotate(360deg); background-image: url(../img/whisky.png);}
  90%  {left:5%; bottom:95%; transform:rotate(0deg); background-image: url(../img/ox.png);}
  100% {left:90%; bottom:35%; transform:rotate(360deg); background-image: url(../img/ox.png);}
}

.icon-wagon {
  width: 78px;
  height: 64px;
  position: absolute;
  bottom: 16%;
  left: 5%;
  background-image: url(../img/wagon.png);
  background-size: cover;
  animation: wagonwheel 40s linear 0s infinite reverse;
  -moz-animation: 40s linear 0s reverse none infinite wagonwheel;
  -webkit-animation: wagonwheel 40s linear 0s infinite reverse;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes wagonwheel {
  0%   {left:5%;}
  100% {left:90%;}
}

/* Standard syntax */
@keyframes wagonwheel {
  0%   {left:5%;}
  100% {left:90%;}
}

#start img {
  width:100%;
  margin-bottom:10px;
}
.sky1 {
    background: #d5e4eb;
}
.sky2 {
  background: #bad1de;
}
.sky3 {
    background: #d5e4eb;
}
.sky4 {
  background: #bad1de;
}
.sky5 {
  background: #d5e4eb;
}
.sky6 {
  background: #bad1de;
}

img {
  max-width: 100%;
}

#characterBTN {
  margin-top: 10px;
}

#gameMainScreen .prettyColumn {
  margin-bottom: 2rem;
}

#gameMainScreen h1 {
    margin-bottom: 0px;
}

#gameMainScreen .col-md-4 .btn {
  width: 100%;
  margin-bottom: 1rem;
}

#characterInput .col-md-12 {
   text-align: left;
   margin-top: 20px;
 }

#charNameInput input {
  display: block;
  border: none;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
}

#gameMainScreen ul{
  list-style: none;
  margin: 10px 0;
  padding-left: 0;
}

#ongoing-text-box {
  background: #f2f2f2;
  height: 457px;
  overflow: scroll;
  margin-top: 2rem;
  padding: 10px;
  font-weight: 300;
  letter-spacing: 1px;
}

#ongoing-text-box p:before {
 content: "\2605";
}

#ongoing-text-box br {
  line-height: 200%;
}

#player-one-name,
#player-two-name,
#player-three-name,
#player-four-name,
#player-five-name,
.bold {
  font-weight: bold;
}

.current-date {
  font-weight: normal;
}

 #store {
  background-image: url(../img/merc.png);
  background-size: cover;
  background-position: center;
  height: 597px;
  position: relative;
 }

 #store .store-fields {
  background: white;
  padding: 25px;
  position: absolute;
  bottom: 0;
  width: 70%;
  right: 0;
  background-color: #f2f2f2;
  border: 2px solid black;
  border-bottom: 0;
  border-right: 0;
}

#upper-store-fields .col-md-3 {
  text-align: right;
}

#food-fields .col-md-3,
#bullet-fields .col-md-3 {
  border: 1px solid black;
  text-align: right;
  line-height: 41px;
  background: white;
  font-weight: 300;
}

#food-fields .col-md-3:first-of-type,
#bullet-fields .col-md-3:first-of-type {
  padding: 0px;
}

#store input {
  width: 100%;
  height: 41px;
  text-align: right;
  padding-right: 10px;
}

#store p {
  margin: 0px;
}

#storeBTN {
  margin: 10px 0;
}

#store .row  {
  margin-right: 0;
  margin-left: 0;
}

.store-total  {
  float: right;
  margin-right: 10px;
  font-size: 20px;
  margin-top: 10px;
}
/*Modal Popup*/



/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}
.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#popup-text,
.button-child {
  background-color: white;
  padding: 20px;
  width: 50%;
  margin: 0 auto;
  font-size: 22px;
  text-align: center;
}

.modal-child,
.button-child {
  text-align: center;
}

.modal-child img{
  width: 50%;
}
#profession input {
  margin-right: 10px;
}

#profession #radio1,
#profession #radio2,
#profession #radio3,
#profession #radio4,
#profession #radio5,
#profession #radio6 {
  position: relative;
}

#profession .tooltiptext {
  visibility: hidden;
  width: 190px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 0px 17px 17px 17px;
  padding: 16px;
  margin-left: 7px;
  margin-top: 15px;
  position: absolute;
  z-index: 1;
}

#faq .tooltiptext,
#sacrifice-button .tooltiptext {
  visibility: hidden;
  width: 331px;
  background-color: black;
  color: #fff;
  text-align: left;
  border-radius: 0px 17px 17px 17px;
  padding: 16px;
  margin-left: 35px;
  margin-top: 2px;
  position: absolute;
  z-index: 1;
  font-weight: 300;
  letter-spacing: 1px;
}

#radio1:hover .tooltiptext {
  visibility: visible;
}

#radio2:hover .tooltiptext {
  visibility: visible;
}

#radio3:hover .tooltiptext {
  visibility: visible;
}

#radio4:hover .tooltiptext {
  visibility: visible;
}

#radio5:hover .tooltiptext {
  visibility: visible;
}

#radio6:hover .tooltiptext {
  visibility: visible;
}

#faq:hover .tooltiptext {
  visibility: visible;
}


#sacrifice-button:hover .tooltiptext {
  visibility: visible;
}

#sacrifice-button:hover {
  transform: scale(1.2);
}

#supplies {
  text-align: center;
  margin-top: 15px;
}

#supplies img{
  width: 50px;
}

#supplies span {
  font-size: 18px;
}

#supplies p {
  margin-bottom: 5px;
}

#status-panel li {
  margin-bottom: 3px;
}

#faq {
  position: absolute;
  right: 15px;
}

#faq img {
  width: 38px;
}

#sacrifice-button {
  position: absolute;
  right: 15px;
  transition: all .2s ease-in-out;
}

#sacrifice-button img {
  width: 38px;
}


.ui-widget-header {
    border: 1px solid #28a745;
    background: #28a745;
}

#progress-title {
  margin-bottom: 0px;
  margin-top: 15px;
}

.ui-progressbar {
  height: 3em;
}

.health-bar {
  height: 9px;
  margin-bottom: 6px;
}

/*confetti*/

.confetti {
  background-image: url('../img/fireworks.gif');
  background-size: cover;
}


/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
